@import url(../style/fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Heebo';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container__header {
    border: 0px red solid;
    max-width: 1032px;
    width: 100%;
    margin: 0 auto;
}

nav {
    padding: 30px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 33px;
}

.header__link {
    font-family: 'Heebo';
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    transition: 0.4s;

}

.header__link:hover {
    color: #FF6464;
}

.container {
    border: 0px red solid;
    max-width: 857px;
    width: 100%;
    margin: 0 auto;
}

.avatar {
    width: 243px;
    height: 243px;
    border-radius: 50%;
    box-shadow: -5px 13px 0px 0px #EDF7FA;
    ;
}

.header__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 128px 0px 0px 0px;
}

.header__title {
    font-family: 'Heebo';
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin: 0px 0px 25px 0px;
}

.header__txt {
    width: 497px;
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin: 0px 0px 45px 0px;
}

.header__btn {
    font-family: 'Heebo';
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    background: #FF6464;
    border-radius: 3px;
    padding: 10px 21px;
    transition: 0.5s;
}

.header__btn:hover {
    background: #21243D;
}

.header__item1 {
    gap: 40px;
    padding: 0px 15px 0px 30px;
}

.header__item {
    padding: 0px 30px 0px 15px;
}

.posts__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    padding-top: 15px;
}

.posts__link {
    font-family: 'Heebo';
    font-style: normal;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
}

.posts__link2 {
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00A8CC;
}

.view {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view__title {
    font-family: 'Heebo';
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
    margin: 25px 21px 20px 23px;
}

.view__list {
    display: flex;
    gap: 60px;
    margin: 0px 0px 15px 23px;
}

.view__txt {
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    width: 368px;
    margin: 0px 27px 10px 27px;
}

.posts {
    background: #EDF7FA;
    height: 396px;
}

.view__item {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    width: 418px;
}

.view__item2 {
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
}

.view__item3 {
    position: relative;
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
}

.view__item3::after {
    content: '';
    width: 0px;
    height: 10px;
    border: 1px solid #21243D;
    margin: 0px 0px 0px 70px;
}

.works__title {
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
    margin: 23px 0px 23px 0px;
}

.works__item {
    display: flex;
    gap: 20px;
}

.list__title {
    font-family: 'Heebo';
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: #21243D;
}

.list__box {
    display: flex;
    align-items: center;
    gap: 36px;
    margin: 23px 0px 23px 0px;
}

.li__1 {
    font-family: 'Heebo';
    font-weight: 900;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    background: #142850;
    border-radius: 16px;
    padding: 0 10px;
}

.li__2 {
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}

.item__txt {
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    width: 594px;
    height: 93px;
}

.works__item2 {
    display: flex;
    gap: 20px;
    margin: 35px 0px 0px 0px;
}

.item__txt2 {
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    width: 507px;
    height: 93px;
}

.footer {
    margin-top: 60px;
    padding: 53px 0px;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copy {
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #21243D;
    margin-top: 20px;
}

.social__item {
    margin: 0px 16px;
}

.blog__title {
    font-family: 'Heebo';
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin: 0px 0px 55px 0px;
}

.blog__content {
    margin: 106px 0px 0px 0px;
}

.blog-item__title {
    font-family: 'Heebo';
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}

.week__list {
    display: flex;
    gap: 45px;
}

.week__item {
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #21243D;
}

.week__item2 {
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}

.blog__txt {
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    width: 682px;
}

.blog__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blog__upper {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.margin {
    margin: 0px 0px 30px 0px;
}

.work__title {
    font-family: 'Heebo';
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin: 0px 0px 25px 0px;
}

.work {
    margin: 106px 0px 0px 0px;
}